@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    margin: 0;
    padding: 0;
    background:	#444444;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff
}

.search-box {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #bfc1c2;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    color: #5a8ad3;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
